.reservationBody{
    padding: 0 20% 0 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    height: 90vh;
    margin-bottom: 0px;
    
}
.filmInfo{
    width: 80%;
    height: min-content;
    border-radius: 25px;
    background-color: white;
}

.reservationContaineer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 60px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 60px 1fr 1fr 1fr;
}
.chair{
    padding: 2px;
    z-index: 1;
}
.line{
    content: '';
    position: absolute;
    z-index: -1;
    width: 32%;
    height: 1px; 
    background-color: rgba(128, 128, 128, 0.76); 
    transform: translate3d(-25px, 15px, 0);
}
#label, #label2{
    position: absolute;
    color: white;
    transform: translate3d(-30px, -10px, 0);
}
#label2{
    transform: translate3d(570px, -10px, 0);
}
#screen{
    border-top: 10px solid white;
    border-radius: 5px;
    margin-bottom: 140px;
    width: 135%;
    color: white;
    text-align: center;
    transform: translateX(-100px);
}
.submitButton{
    color: white;
    background-color: rgb(143, 143, 143);
    border-radius: 25px;
    text-align: center;
    width: 220px;
    height: 60px;
    position: relative;
    transform: translate3d(450px, 180px, 0);
    font-size: 35px;
}
.submitButton:hover{
    color: #FF8C42;
    transition: 0.5s;
}
.image{
    border-radius: 23px 23px 0 0;
    width: 100%;
    height: 600px;
    position: relative;
    background-size: cover;
    background-position: center;
}
.legend{
    position: absolute;
    margin-top: 60px;
    height: 80px;
    width: 40%;
    transform: translateX(-100px);
    border-top: 2px solid rgba(255, 255, 255, 0.555);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 4fr;
    align-items: center;
    font-size: 25px;
    color: white;
    gap:20px
}
#legendSeat{
    font-size: 40px;
    text-align: center;
}
.legend p{
    transform: translateX(40px);
    padding: 20px;
}
#description{
    position: absolute;
    transform: translate3d(30px, -20px, 0px);
}
#chairLabel{
    position: absolute;
    transform: translate3d(585px, 18px, 0);
    font-size: 20px;
}
#redDot, #greyDot, #blueDot{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 25px;
}
#greyDot{
    background-color: lightgrey;
    transform: translate3d(25px, 20px, 0);
}
#redDot{
    background-color: red;
    transform: translate3d(130px, 20px, 0);
}
#blueDot{
    background-color: blue;
    transform: translate3d(275px, 20px, 0);
}

@media (max-width: 1024px){
    .reservationBody {
        width: 80%;
        height: 100vh;
        padding-top: 0%;
        padding: 0% 10% 0% 10%;
    }
    .reservationContaineer{
        width: fit-content;
        transform: translateX(28px);
    }
    .filmInfo {
        width: 95%;
        font-size: 12px;
    }
    .image {
        height: 400px;
    }
    #screen{
        width: 100%;
        transform: translateX(40px);
    }
    .line{
        width: 109%;
    }
    #label2{
        transform: translate3d(530px, -10px, 0);
    }

    .legend {
        gap: 0;
        width: 55%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        transform: translate3d(0px, 0px, 0px);
    }
    .legend p{
        transform: translateX(20px);
        padding: 20px;
    }
    #description{
        position: absolute;
        transform: translate3d(30px, -20px, 0px);
    }
    #greyDot{
        transform: translate3d(5px, 20px, 0);
    }
    #redDot{
        transform: translate3d(150px, 20px, 0);
    }
    #blueDot{
        transform: translate3d(290px, 20px, 0);
    }
    #chairLabel{
        transform: translate3d(490px, 18px, 0);
    }
    .submitButton {
        transform: translate3d(360px, 160px, 0);
    }
}

@media (max-width: 768px) {
    .reservationBody {
        padding: 0;
        grid-template-columns: 1fr;
        height: 185vh;
        width: 100%;
    }
    .reservationContaineer{
        transform: translateX(88px);
    }
    .chair span{
        font-size: 30px;
    }

    .reservationBox{
        position: relative;
        height: 80vh;
    }
    .filmInfo {
        width: 100%;
    }

    .image {
        height: 400px;
    }
    #screen {
        margin-top: 60px;
        width: 100%;
        transform: translateX(0px);
    }

    .submitButton {
        font-size: 28px;
        width: 160px;
    }

    .legend {
        gap: 0;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        transform: translate3d(0px, 0px, 0px);
    }
    .legend p{
        transform: translateX(20px);
        padding: 20px;
    }
    #description{
        position: absolute;
        transform: translate3d(70px, -20px, 0px);
    }
    #label2{
        transform: translate3d(620px, -10px, 0);
    }
    .line{
        width: 109%;
    }
    #greyDot{
        transform: translate3d(5px, 20px, 0);
    }
    #redDot{
        transform: translate3d(200px, 20px, 0);
    }
    #blueDot{
        transform: translate3d(390px, 20px, 0);
    }
    #chairLabel{
        transform: translate3d(680px, 18px, 0);
    }


}

@media (max-width: 480px) {
    .reservationBody {
        height: 145vh;
        width: 100%;
        grid-template-columns: 1fr;
        gap: 0;
        padding: 0;
        margin: 0
    }

    .filmInfo {
        width: 100%;
    }
    .reservationBox{
        position: relative;
        width: 100%;
        height: 80vh;
    }
    .reservationContaineer{
        grid-template-columns: 1fr 1fr 30px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 30px 1fr 1fr 1fr;
        width: fit-content;
        transform: translateX(10px);
    }
    .chair span{
        font-size: 20px;
    }
    .image {
        height: 300px;
    }

    .submitButton {
        font-size: 24px;
        width: 140px;
        height: 50px;
        transform: translate3d(0, 150px, 0);
    }

    #screen {
        margin-top: 40px;
        width: 100%;
        transform: translateX(0);
    }

    .legend {
        left: 0;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-size: 20px;
        gap: 0;
        transform: translate3d(0px, 0px, 0);
    }

    #legendSeat {
        font-size: 30px;
    }

    .legend p {
        padding: 10px;
        transform: translate3d(20px, 0px, 0);
    }

    #label, #label2{
        position: absolute;
        color: white;
        transform: translate3d(-10px, -10px, 0);
    }
    #label2{
        transform: translate3d(400px, -10px, 0);
    }
    .line{
        width: 102%;
        transform: translate3d(-3px, 15px, 0);
    }
    #description{
        transform: translate3d(40px, -25px, 0);
    }
    #greyDot{
        transform: translate3d(0px, 0px, 0);
    }
    #redDot{
        transform: translate3d(105px, 0px, 0);
    }
    #blueDot{
        transform: translate3d(210px, 0px, 0);
    }
    #chairLabel{
        transform: translateX(360px);
    }
    #legendSeat{
        transform: translateX(-20px);
    }
}