@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
header{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.nav{
    display: flex;
    gap: 30px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.link{
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: left;
    align-items: center;
}

.link:hover{
    color: #FF8C42;
    transition: 0.5s;
}

.menuIcon {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

label{
    position: absolute;
    color: black;
    margin: 20px;
}
.overlay {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0f0e17cb;;
    display: flex;
    z-index: 1000;
}


.NavList{
    position: absolute;
    margin: 0 25% 0 18%;
    padding: 0;
    left: 0;
    width: 64%;
    height: 400px;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}
.Repertoireinfo{
    margin-left: 25px;
    margin-top: 50px;
    width: 170px;
    height: 240px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
#description{
    transform:translateY(240px);
    color: black;
    margin-bottom: 10px;
    font-size: 16px;
    text-decoration: none;
}


@media (max-width: 768px) {
    header {
        width: 100%;
        margin: 0;
        padding: 0px;
        display:grid;
        grid-template-columns: 1fr auto;
        overflow-x: hidden;
    }

    .nav {
        position: relative;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        width: 100%;
        text-align: center;
    }
    .nav a{
        justify-content: center;
    }
    .nav.open {
        max-height: max-content;
        text-align: center;
    }

    .link {
        padding: 10px 0;
        font-size: 20px;
    }

    .menuIcon {
        right: 120px;
        display: block;
        color: white;
    }

    .overlay {
        position: relative;
        top: 0px;
        height: 40vh;
    }

    .NavList {
        gap: 5px;
        margin: 0 10% 0 5%;
        width: 100%;
        height: 41vh;
        flex-direction: row;
        position: relative;

    }

    .Repertoireinfo {
        margin: 30px auto;
        margin-bottom: 0px;
        width: 110px;
        height: 160px;
    }

    #description {
        transform: translateY(200px);
        font-size: 14px;
        text-align: center;
    }

    label{
        position: absolute;
        color: black;
        margin: 0px;
    }

}

@media (max-width: 480px) {
    header {
        width: 100%;
        margin: 0;
        padding-top: 5%;
        padding: 0;
        display:grid;
        grid-template-columns: 1fr auto;
        overflow-x: hidden;
    }

    .nav {
        flex-direction: column;
        gap: 10px;
        font-size: 18px;
        text-align: center;
    }

    .link {
        justify-content: center;
        font-size: 16px;
    }
    .overlay{
        width: 100%;
    }
    .Repertoireinfo {
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 0;
        height: max-content;
    }

    .NavList {
        margin: 0 10%;
        width: 80%;
    }

    #description {
        margin: 0;
        font-size: 14px;
    }

    .NavList {
        position: absolute;
        gap: 5px;
        margin: 0;
        width: 100vw;
        height: 35vh;
        flex-direction: row;

    }

    .Repertoireinfo {
        width: 90px;
        height: 150px;
    }

    #description {
        transform: translateY(180px);
        font-size: 12px;
        text-align: center;
        margin-top: 10px;
    }
}
