@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.mainbody{
    width: 100vw;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
}
.slideshow {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 450px;
    color: white;
    border-radius: 2%;
    transition: transform 0.8s ease-in-out;
    z-index: 1;
}

.slideinfo{
    display: flex;
    position: absolute;
    font-size: 25px;
    gap: 25px;
    align-items: center;
    flex-direction: row;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    transform: translate3d(20px, 380px, 0px);
}

