
.weeknav{
    position: relative;
    background-color: #D72638;
    width: 1000px;
    height: 250px;
    transform: translate3d(800px,-50px,0);
    border-radius: 20px;
}
.weeknav p{
    position: relative;
    font-size: 22px;
    color: white;
    transform: translate3d(200px,60px,0);
    
}