@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container{
    padding-left: 20%;
    padding-right: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 60.5%;

}
.card{
    display: flex;
    flex-direction: column;
    margin: 10%;
}
.Repertoireinfo{
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    width: 180px;
    height: 260px;
    border-radius: 5%;
    gap: 40px;
    flex-direction: column;
    filter: drop-shadow(0 0 15px rgba(182, 217, 243, 0.7));
    
}
.nameParagraph{
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;

}