.slider {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow: hidden;
    position: relative; 
}

.slider::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 100%;
    background: linear-gradient(to right, #0F0E17, rgba(255, 255, 255, 0));
    z-index: 1; 
    pointer-events: none; 
}

.slider::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 800px;
    height: 100%;
    background: linear-gradient(to left, #0F0E17, rgba(255, 255, 255, 0));
    z-index: 1;
    pointer-events: none;
}

.Repertoireinfo{
    transform: translateX(500px);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 428px;
    border-radius: 5%;
}