@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.PriceMain{
    margin-left: 27%;
    margin-right: 21%;
    height: 155vh;
}

#Pricing{
    color: white;
    font-size: 24px;
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
}

.priceContainer{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    width: 100%;
    height: 32vh;
    margin: 50px 0 50px 0;
    border-radius: 25px;
    gap: 50px;

}

.labels{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 24px;
    padding-left: 40px;
}
.labels p{
    transform:translateY(70px);
    margin-TOP: 7px;
}

.mainSeance{
    color: white;
    background-color: rgb(40, 40, 156);
    position: absolute;
    transform: translate3d(270px,-20px,0px);
    width: 180px;
    height: 270px;
    border-radius: 15px;
    font-weight: bold;

}
.seance{
    transform: translate3d(250px,0px,0px);
    font-weight: bold;
}
.SeanceInfo{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SeanceInfo p{
    margin: 0;
}
#seanceParagraph{
    color: #acacac;
}
.Specialticket, .ticket{
    margin-top: 18px;
    background-color: white;
    width: 130px;
    height: 40px;
    color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.ticket{
    margin-top: 19px;
    background-color: rgb(194, 194, 194);
    width: 120px;
    height: 40px;
}

#dot{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgb(40, 40, 156);
    border-radius: 100%;
    right: 0;
    transform: translate3d(-10px,0px,0);
}
.ticket #dot{
    background-color: white;
    transform: translate3d(15px,0px,0);
}
.TableInfo{
    display: flex;
    flex-direction: row;
    width: 50%;
    position: absolute;
    justify-content: center;
    transform: translateY(250px);
    gap: 60px;
    font-family: 'Raleway',  sans-serif;
    font-weight: 600;
}

@media (max-width: 768px) {
    .PriceMain {
        margin-left: 5%;
        margin-right: 5%;
        height: auto;
    }

    .priceContainer {
        width: 100%;
        flex-direction: row;
        padding: 15px;
        gap: 15px;
        height: auto;
    }

    .mainSeance {
        height: 30vh;
        transform: translate3d(165px, -35px, 0);
        width: 160px;
    }
    .seance{
        transform: translate3d(150px,-15px,0px);
        font-weight: bold;
    }

    .TableInfo {
        flex-direction: row;
        gap: 20px;
        transform: translateY(210px);
        width: 100%;
    }
    .labels{
        transform: translate3d(-40px, -10px, 0);
    }
    .ticket{
        width: 100px;
        height: 40px;
    }
    .Specialticket{
        width: 110px;
    }
}

@media (max-width: 480px) {
    .PriceMain {
        margin-left: 5%;
        margin-right: 10%;
        height: auto;
    }

    .priceContainer {
        width: 100%;
        flex-direction: row;
        padding: 15px;
        gap: 6px;
        height: 20vh;
    }

    .mainSeance {
        height: 23vh;
        transform: translate3d(65px, -35px, 0);
        width: 90px;
    }
    .mainSeance p{
        font-size: 12px;
    }
    .seance{
        transform: translate3d(39px,-15px,0px);
        font-weight: bold;
    }

    .TableInfo {
        flex-direction: row;
        gap: 20px;
        transform: translateY(152px);
        font-size: 12px;
        width: 87%;
    }
    .labels{
        font-size: 12px;
        transform: translate3d(-53px, -20px, 0);
    }
    .ticket{
        width: 65px;
        height: 25px;
        font-size: 12px;
        margin-top: 14px;
    }
    .Specialticket{
        margin-top: 13px;
        width: 65px;
        height: 25px;
    }
    .SeanceInfo{
        font-size: 12px;
    }
    #dot{
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: rgb(40, 40, 156);
        transform: translate3d(-3px,0px,0);
    }
    .ticket #dot{
        background-color: white;
        transform: translate3d(10px,0px,0);
    }
}